<h4 class="pt-30">Elasticsearch Configuration</h4>
<hr/>
<section class="mb-30 box">
  <div class="row">
    <div class="col span-12 mt-0 pt-0">
      <label class="acc-label" for="">Endpoint{{field-required}}</label>
      {{input
          type="text"
          value=model.endpoint
          classNames="form-control"
          placeholder="e.g. https://your-ip:9200"
      }}
    </div>
  </div>
</section>

{{#accordion-list classNames="mt-30" as | al expandFn |}}
  {{logging/form-index-pattern
      classNames="accordion-wrapper"
      model=model
      originalModel=originalModel
      expandAll=al.expandAll
      defaultPrefix=defaultPrefix
      expandFn=expandFn
  }}
  {{#accordion-list-item
       title="Elasticsearch X-Pack Security option"
       detail="If your elasticsearch use X-Pack built-in native authentication features, put your username and password below."
       showStatus=false
       expandAll=al.expandAll
       expand=(action expandFn)
  }}
    <div class="row">
      <div class="col span-6">
        <label class="acc-label" for="">User Name</label>
        {{input
            type="text"
            value=model.esAuthUser
            classNames="form-control"
            placeholder="e.g. username"
        }}
      </div>
      <div class="col span-6">
        <label class="acc-label">Password</label>
        {{input
            type="text"
            value=model.esAuthPassword
            classNames="form-control"
            placeholder="e.g. xxx"
        }}
      </div>
    </div>
  {{/accordion-list-item}}
{{/accordion-list}}
