<h2 class="mt-30">Elasticsearch Configuration</h2>
<hr/>
<div class="box">
  <h4>Elasticsearch Endpont</h4>
  <p class="text-info text-small">Copy your Endpoint from Elastic Cloud, or input the reachable HTTP address and port your Elacticsearch installed.</p>
  <section class="mb-30">
    <div>
      <label class="acc-label" for="">Endpoint{{field-required}}</label>
      {{input
          type="text"
          value=model.endpoint
          classNames="form-control"
          placeholder="e.g. https://ip:port"
      }}
    </div>
  </section>
  <h4>Elasticsearch X-Pack Security <span class="text-muted">(Optional)</span></h4>
  <section>
    <p class="text-info text-small">
      If your elasticsearch use X-Pack built-in native authentication features, put your username and password below.
    </p>
    <div class="row">
      <div class="col span-6">
        <label class="acc-label" for="">User Name</label>
        {{input
            type="text"
            value=model.esAuthUser
            classNames="form-control"
            placeholder="e.g. username"
        }}
      </div>
      <div class="col span-6">
        <label class="acc-label">Password</label>
        {{input
            type="password"
            value=model.esAuthPassword
            classNames="form-control"
            placeholder="Your Password"
        }}
      </div>
    </div>
  </section>

  <h4 class="mt-20">Elasticsearch Index Patterns</h4>
  <p class="text-info text-small">Index patterns are used to generate Elacticsearch index</p>
  <section class="pt-0" style="border-top:0;position:relative;top:-1px;">
    <div class="row">
      <div class="col span-6">
        <label class="acc-label">Prefix{{field-required}}</label>
        {{input
            type="text"
            value=model.esLogstashPrefix
            className="form-control"
            placeholder="e.g. logstash"
        }}
      </div>
      <div class="col span-6">
        <label class="acc-label" for="">Date Format</label>
        {{new-select
            htmlSafe=false
            class="form-control mb-15"
            className="form-control"
            content=dateFormats
            localizedLabel=false
            value=model.esLogstashDateformat
        }}
      </div>
    </div>
    <div>
      The generated index will be: <code class="text-italic">{{esIndex}}</code>
    </div>
  </section>
</div>

<main class="row mt-20">
  <div class="col span-6 logging-format">
    <h2 class="mt-0">Elasticsearch Log Format Preview</h2>
    <hr/>
    {{code-block language="yaml" code=logPreview}}
  </div>
  <div class="col span-6">
    <h2 class="mt-0">Additional Logging Configuration</h2>
    <hr/>
    {{yield}}
  </div>
</main>
