<section class="row">
  <div class="col span-11-of-24">
    <div class="acc-label"> Notifier </div>
    {{searchable-select
        classNames="text-capitalize"
        content=notifiers
        value=model.notifierId
        optionValuePath="id"
        optionLabelPath="displayName"
        optionGroupPath="notifierType"
        placeholder="Choose a Notifier"
    }}
  </div>

  <div class="col span-11-of-24">
    <div class="acc-label clearfix">
      <div class="pull-left text-capitalize">
        {{if selectedNotifier.notifierLabel selectedNotifier.notifierLabel 'Receiver'}}
      </div>
      <div class="pull-right">
        <a role="button" class="btn bg-transparent p-0" {{action 'toggleUseDefault'}}>
          {{if useDefault 'Override' 'Use Default'}}
        </a>
      </div>
    </div>
    {{input
        classNames="form-control"
        disabled=useDefault
        placeholder=recipientPlaceholder
        value=model.recipient
        showSearch=showSearch
    }}
  </div>

  <div class="col span-2-of-24" style="padding-top: 29px;">
    <button class="btn bg-link icon-btn p-0 {{if disableRemove 'disabled' ''}}" {{action "remove"}}>
      <span class="darken"><i class="icon icon-minus text-small"/></span>
    </button>
  </div>
</section>
