<section class="row">
  <div class="col span-6">
    <div class="acc-label">Notifier</div>
    {{new-select
      classNames="text-capitalize form-control"
      content=recipientTypes
      value=recipientType
    }}
  </div>

  <div class="col span-6">
    <div class="acc-label clearfix">
      <div class="pull-left text-capitalize">
        XXX{{recipientLabel}}
      </div>
      <div class="pull-right">
        <a role="button" class="btn bg-transparent p-0" {{action 'showRecipientModal'}}>
          {{t 'formRecipient.toggle.create'}}
        </a>
      </div>
    </div>
    {{input
        placeholder=recipientPlaceholder
        value=model.recipientId
        showSearch=showSearch
    }}
  </div>
</section>