<h4 class="pt-30">Splunk HTTP Event Collector Configuration</h4>
<hr/>
<section class="box">
<p class="text-info text-small">
  You can find instructions on how to configre Splunk HEC (HTTP Event Collector)
  <a href="http://docs.splunk.com/Documentation/Splunk/7.0.0/Data/UsetheHTTPEventCollector" target="_blank">here</a>.
</p>
<div class="row mt-20">
  <div class="col span-6 mt-0 pt-0">
    <label class="acc-label" for="">Host{{field-required}}</label>
    {{input
        type="text"
        value=model.splunkHost
        classNames="form-control"
        placeholder="e.g. 192.168.1.10"
    }}
  </div>
  <div class="col span-6 mt-0 pt-0">
    <label class="acc-label">Port</label>
    {{input-integer
        class="form-control"
        min=1
        max=65535
        value=model.splunkPort
        placeholder="e.g. 8088"
    }}
    <p class="text-info text-small">
      The HEC port, which is 8088 by default, you can find this port on your splnuk's HEC Global Settings.
      <!-- <a target="_blank" href="http://docs.splunk.com/Documentation/SplunkCloud/6.6.3/Data/UsetheHTTPEventCollector#Send_data_to_HTTP_Event_Collector">Detail</a> -->
     </p>
  </div>
</div>

<div class="row">
  <div class="col span-6 mt-0 pt-0">
    <label class="acc-label" for="">Token{{field-required}}</label>
    {{input
        type="text"
        value=model.splunkToken
        classNames="form-control"
        placeholder="Your token"
    }}
    <p class="text-info text-small">
      Tokens are entities that let logging agents and HTTP clients connect to the HEC input.
      <a href="http://docs.splunk.com/Documentation/Splunk/7.0.0/Data/UsetheHTTPEventCollector#Configure_HTTP_Event_Collector_on_Splunk_Enterprise" target="_blank">Detail</a>
    </p>
  </div>
  <div class="col span-6 mt-0 pt-0">
    <label class="acc-label" for="">Source</label>
    {{input
        type="text"
        value=model.splunkSource
        classNames="form-control"
        placeholder="Your source"
    }}
    <p class="text-info text-small">
      A default field that identifies the source of an event, that is, where the event originated.
      <a href="https://docs.splunk.com/Splexicon:Source" target="_blank">Detail</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col span-12 mt-0 pt-0">
    <label class="acc-label" for="useTLS">
    {{input
      type="checkbox"
      classNames="form-control"
      name="useTLS"
      checked=tls
      placeholder=""
    }}
      Use TLS
    </label>
  </div>
</div>

</section>