{{log newAlert}}
<section class="row">
  <div class="col span-1">
    <div class="pt-10">
      <label>WHEN A</label>
    </div>
  </div>

  <div class="col span-10">
    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=newAlert.targetType value="systemService"}} System Service
        </label>
      </div>
      <div class="col span-6 mt-0">
        {{searchable-select
            content=systemServices
            class="form-control"
            value=newAlert.targetSystemService.id
            placeholder="Choose a System Service"
            readOnly=(not-eq newAlert.targetType 'systemService')
        }}
      </div>
    </div>

    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=newAlert.targetType value="node"}} Node
        </label>
      </div>
      <div class="col span-6 mt-0">
        {{searchable-select
            content=nodes
            class="form-control"
            value=newAlert.targetNode.id
            optionValuePath="id"
            optionLabelPath="name"
            placeholder="Choose a Node"
            readOnly=(not-eq newAlert.targetType 'node')
        }}
      </div>
    </div>
    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=newAlert.targetType value="nodeSelector"}} Node Selector
        </label>
      </div>
      <div class="col span-6 mt-0">
        <!-- <p class="text-info text-small">Workloads that match all the selectors will be selected.</p> -->
        {{#if (eq newAlert.targetType 'nodeSelector')}}
          {{form-key-value
              addActionLabel="alertPage.addSelectorLabel"
              initialMap=newAlert.targetNode.selector
              changed=(action (mut newAlert.targetNode.selector))
          }}
        {{else}}
          <button {{action "noop"}} style="cursor:not-allowed;" class="btn bg-disabled icon-btn">
            <span class="darken"><i class="icon icon-plus text-small"/></span>
            <span>{{t 'alertPage.addSelectorLabel'}}</span>
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</section>
<hr/>
<section class="row">
  <div class="col span-1">
    <label class="{{if (not-eq targetType 'systemService') 'pt-10' 0}}">IS</label>
  </div>
  <div class="col span-10">
  {{#if (eq newAlert.targetType 'systemService')}}
    <label class="mr-10">
      {{radio-button selection="whatever" value="whatever"}} Unhealthy
    </label>
  {{else if (or (eq newAlert.targetType 'node') (eq newAlert.targetType 'nodeSelector'))}}
    <label class="mr-10">
      {{radio-button selection=newAlert.targetNode.condition value="notready"}} Kubelet node not ready
    </label>
    <label class="ml-10">
      {{radio-button selection=newAlert.targetNode.condition value="cpu"}} CPU usage over
    </label>
    <div style="display:inline-block;width:60px;">
      {{input-integer
          classNames="form-contorl input-sm"
          disabled=(not-eq newAlert.targetNode.condition 'cpu')
          min=1
          value=percent
      }}
    </div>%

    <label class="ml-10">
      {{radio-button selection=newAlert.targetNode.condition value="mem"}} MEM usage over
    </label>
    <div style="display:inline-block;width:60px;">
      {{input-integer
          classNames="form-contorl input-sm"
          disabled=(not-eq newAlert.targetNode.condition 'mem')
          min=1 max=100
          value=percent
      }}
    </div>%

    <label class="ml-10">
      {{radio-button selection=newAlert.targetNode.condition value="disk"}} DISK usage over
    </label>
    <div style="display:inline-block;width:60px;">
      {{input-integer
          classNames="form-contorl input-sm"
          disabled=(not-eq newAlert.targetNode.condition 'disk')
          min=1
          max=100
          value=percent
      }}
    </div>%
  {{else}}
  {{/if}}
  </div>
</section>

<hr/>
<section class="row">
  <div class="col span-1">
    SEND A
  </div>
  <div class="col span-10">
    <label class="mr-10">{{radio-button selection=newAlert.severity value="critical"}} Critical</label>
    <label class="mr-10">{{radio-button selection=newAlert.severity value="warning"}} Warning</label>
    <label class="mr-10">{{radio-button selection=newAlert.severity value="info"}} Info</label>
  </div>
</section>
