<section class="header clearfix">
  <h1 class="pull-left">Logging</h1>
</section>

{{#accordion-list classNames="mt-20" showExpandAll=false as | al expandFn | }}
  {{#accordion-list-item
      title="tags"
      detail="Tags are key/value pair used to filter logs"
      expandOnInit=true
      expand=(action expandFn)
  }}
    {{form-key-value
        addActionLabel="loggingPage.tags.addActionLabel"
    }}
  {{/accordion-list-item}}
{{/accordion-list}}

{{logging/targets-nav
    currentLogging=currentLogging
    targetType=targetType
    isClusterLevel=isClusterLevel
}}

{{#if (eq targetType 'elasticsearch')}}
  {{logging/target-elasticsearch model=model originalModel=originalModel tags=tags}}
{{else if (eq targetType 'embedded')}}
  {{#if isClusterLevel}}
    {{logging/target-embedded model=model}}
  {{/if}}
{{else if (eq targetType 'splunk')}}
  {{logging/target-splunk model=model}}
{{else if (eq targetType 'kafka')}}
  {{logging/target-kafka model=model}}
{{/if}}

{{top-errors errors=errors}}
{{save-cancel cancelDisabled=true editing=true save="save"}}