{{log fields}}
<section class="header clearfix">
  <h1 class="pull-left text-capitalize">{{pageScope}} Logging</h1>
</section>

<div class="banner bg-info">
  <div class="banner-icon p-20"><i class="icon icon-info"></i></div>
  <div class="banner-message p-20">
    We will collect the standard output and standard error for each container, the log files which under path<code> /var/log/containers/ </code>on each host. The log will be shipped to the target you choose below.
  </div>
</div>
{{logging/targets-nav
    currentLogging=currentLogging
    targetType=targetType
    isClusterLevel=isClusterLevel
    pageScope=pageScope
}}

{{#if (eq targetType 'embedded')}}
  <div class="banner bg-warning">
    <div class="banner-icon p-20"><i class="icon icon-alert"></i></div>
    <div class="banner-message p-10">
      <ul>
        <li style="list-style: circle;">
      Embedded Elasticsearch is experimental, no persistent storage will be provided.
        </li>
        <li style="list-style: circle;">The embedded deployment includes ElasticSearch and Kibana. Elasticsearch requests at least 2 CPU and 4G MEM available on the node it is deployed.</li>
      </ul>
    </div>
  </div>
{{/if}}

{{#if (eq targetType 'elasticsearch')}}

  {{logging/target-elasticsearch
       model=model
       fields=fields
       flushInterval=flushInterval
  }}

{{else if (eq targetType 'embedded')}}
  {{#if isClusterLevel}}
    {{logging/target-elasticsearch
        model=model
        fields=fields
        flushInterval=flushInterval
        embbeded=true
    }}
  {{/if}}
{{else if (eq targetType 'splunk')}}
  {{logging/target-splunk model=model fields=fields}}
{{else if (eq targetType 'kafka')}}
  {{logging/target-kafka model=model fields=fields}}
{{else if (eq targetType 'syslog')}}
  {{logging/target-syslog model=model fields=fields}}
{{/if}}


{{top-errors errors=errors}}
{{save-cancel cancelDisabled=true editing=true save="save"}}
