<div class="row">
  <div class="col span-12 pt-0 mt-0">
    {{form-name-description
      name=newAlert.displayName
      nameDisabled=false
      description=newAlert.description
      bothColClass="col span-6 mt-0"
      colClass="col span-12 mt-0"
      namePlaceholder="newContainer.name.placeholder"
      descriptionPlaceholder="newContainer.description.placeholder"
    }}
  </div>
</div>

<div class="box mt-20">
  {{alert/form-rules
      pods=pods
      pageScope=pageScope
      workloads=workloads
      isCreate=isCreate
      newAlert=newAlert
  }}
  <hr/>
  {{alert/form-recipients
      pageScope=pageScope
      isCreate=isCreate
      notifiers=notifiers
      newAlert=newAlert
  }}
</div>


<div class="mt-20 clearfix">

  {{#unless showAdvanced}}
  <div class="text-right text-small">
    <a role="button" class="btn bg-transparent p-0" {{action "showAdvanced"}}>Show Advanced Options</a>
  </div>
  {{/unless}}

  {{#if showAdvanced}}
  <div class="box">
    <div class="row">
      <div class="col span-6">
        <label class="acc-label">Initial Wait</label>
        {{alert/form-interval value=3}}
        <p class="text-info text-small">
          How long to initially wait to send a notification when an alert is triggered
        </p>
      </div>

      <div class="col span-6">
        <label class="acc-label">Interval</label>
        {{alert/form-interval value=3}}
        <p class="text-info text-small">Repeat interval of sending a notification when an alert is active.</p>
      </div>
    </div>
  </div>
  {{/if}}
</div>

<div class="mt-20">
  {{top-errors errors=errors}}
</div>

<div class="mv-20">
  {{save-cancel
      createLabel=(if isCreate 'alertPage.create' 'alertPage.save')
      save="save"
      cancel="cancel"
  }}
</div>