<section class="row">
  <div class="col span-2">
    <label>Choose Target Type:</label>
  </div>
  <div class="col span-10">
    <label class="mr-10">
      {{radio-button selection=newAlert.targetType value="pod"}} Pod
    </label>
    <label class="mr-10">
      {{radio-button selection=newAlert.targetType value="workload"}} Workload
    </label>
    <label class="mr-10">
      {{radio-button selection=newAlert.targetType value="workloadSelectors"}} Workload Selectors
    </label>
  </div>
</section>
<hr/>

<section class="row">
  <div class="col span-2">
    <label>Choose Target</label>
  </div>
  <div class="col span-10">
    {{#if (eq newAlert.targetType 'workloadSelectors')}}
      <p class="text-info text-small mt-0">Workloads that match all the selectors will be selected.</p>
      {{form-key-value
          addActionLabel="alertPage.addSelectorLabel"
          initialMap=newAlert.targetWorkload.selector
          initialArray=initialArray
      }}
    {{else}}
      <div class="row">
        <div class="col span-6 mt-0">
          {{searchable-select
              content=targets
              class="form-control"
              value=targetId
              optionValuePath="id"
              optionLabelPath="name"
              placeholder="Choose a target"
              filter=targetFilter
          }}
        </div>
      </div>
    {{/if}}
  </div>
</section>
<hr/>
<section class="row">
  <div class="col span-2">
    <label class="pt-10">Choose Condition</label>
  </div>
  <div class="col span-10">
  {{#if (eq newAlert.targetType 'pod')}}
    <label class="mr-10">
      {{radio-button selection=newAlert.targetPod.condition value="notrunning"}} Not Running
    </label>
    <label class="mr-10">
      {{radio-button selection=newAlert.targetPod.condition value="notscheduled"}} Not Scheduled
    </label>
    <label class="mr-10">
      {{radio-button selection=newAlert.targetPod.condition value="restarts"}} Restart
    </label>
    <div style="display:inline-block;width:100px;">
      {{input-integer disabled=(not-eq newAlert.targetPod.condition 'restarts') min=1 max=1000 value=newAlert.targetPod.restartTimes}}
    </div> times in 5 minutes
  {{else if (or (eq newAlert.targetType 'workload') (eq newAlert.targetType 'workloadSelectors'))}}
    <div class="row">
      <div class="col span-6 mt-0">
        <div class="input-group pt-5">
          {{input-slider
              value=newAlert.targetWorkload.unavailablePercentage
              valueMin=0
              valueMax=100
              step=1
          }}
          <span class="input-group-addon">{{newAlert.targetWorkload.unavailablePercentage}}% are unavailable</span>
        </div>
      </div>
    </div>
  {{else}}
  {{/if}}
  </div>
</section>

<hr/>
<section class="row">
  <div class="col span-2">
    Choose Severity
  </div>
  <div class="col span-10">
    <label class="mr-10">{{radio-button selection=newAlert.severity value="critical"}} Critical</label>
    <label class="mr-10">{{radio-button selection=newAlert.severity value="warning"}} Warning</label>
    <label class="mr-10">{{radio-button selection=newAlert.severity value="info"}} Info</label>
  </div>
</section>