<div class="row">
  <div class="col span-3">
    <div><label class="acc-label">Target Type</label></div>
    {{new-select
        class="form-control"
        disabled=(not isCreate)
        class="form-control text-capitalize"
        content=targetTypes
        value=newAlert.targetType
    }}
  </div>
  <div class="col span-3">
    <div><label class="acc-label">Target</label></div>
    {{#if disabled}}
      {{new-select
          class="form-control"
          content=targets
          optionValuePath="id"
          optionLabelPath="name"
          value=targetId
          disabled=true
      }}
    {{else}}
      {{searchable-select
          content=targets
          class="form-control"
          value=targetId
          optionValuePath="id"
          optionLabelPath="name"
          placeholder="Choose a target"
          filter=targetFilter
      }}
    {{/if}}
  </div>

  {{#if (eq newAlert.targetType 'pod')}}
    <div class="col span-3">
      <div class="acc-label">Condition</div>
      {{new-select
          class="form-control"
          value=newAlert.targetPod.condition
          content=podConditions
          optionValuePath="id"
          optionLabelPath="label"
          placeholder="Choose a Rule"
      }}
    </div>
    {{#if (eq newAlert.targetPod.condition 'restarts')}}
      <div class="col span-3">
        <div class="acc-label">Times</div>
        {{alert/form-int value=newAlert.targetPod.restartTimes}}
      </div>
    {{/if}}
  {{else if (eq newAlert.targetType 'workload')}}
    <div class="col span-5">
      <div class="acc-label">Condition</div>
      <div class="input-group pt-5">
        {{input-slider
            value=newAlert.targetWorkload.unavailablePercentage
            valueMin=0
            valueMax=100
            step=1
        }}
        <span class="input-group-addon">{{newAlert.targetWorkload.unavailablePercentage}}% are unavailable</span>
      </div>
    </div>
  {{else}}
    <div> todo </div>
  {{/if}}
</div>

{{#if (and showWorkloadSelectors (eq newAlert.targetType 'workload'))}}
  <hr/>
  <p class="text-info text-small">Workloads that match all the selectors will be selected.</p>
  {{form-key-value
      addActionLabel="alertPage.addSelectorLabel"
      initialMap=newAlert.targetWorkload.selector
      initialArray=initialArray
  }}
{{/if}}