<h4 class="pt-30">Syslog Configuration</h4>
<hr/>
<section class="box">
  <div class="row mt-20">
    <div>
      <label class="acc-label" for="">Endpoint{{field-required}}</label>
      {{input
          type="text"
          value=config.zookeeperEndpoint
          classNames="form-control"
          placeholder="e.g. https://192.168.1.10:2181"
      }}
    </div>
    <p class="text-info text-small mb-0">Zookeeper is for building coordination, configuration management, leader detection, detecting node update in kafka cluster.</p>
  </div>

  <div class="row">
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">Program</label>
      {{input
          type="text"
          value=model.syslogConfig.program
          classNames="form-control"
          placeholder="Your program"
      }}
      <p class="text-info text-small">The program name of the log.</p>
    </div>
  </div>

  <div>
    Log Severity:
    {{#each severities as |s|}}
        <label class="mr-10 text-capitalize">{{radio-button selection=config.severity value=s }} {{s}}</label>
    {{/each}}
    <p class="text-info text-small">The severity of logs, list of severities definition could be found here <a href="https://tools.ietf.org/html/rfc5424#section-6.2.1" target="_blank">here.</a></p>
  </div>
</section>
<main class="row mt-20">
  <div class="col span-6 logging-format">
    <h2 class="mt-0">Log Format Preview</h2>
    <hr/>
    {{code-block language="yaml" code=logPreview}}
  </div>
  <div class="col span-6">
    {{logging/form-additional flushInterval=flushInterval fields=fields}}
  </div>
</main>