{{#accordion-list-item
     title="Elasticsearch Index Pattern"
     detail="Elacticsearch uses an index pattern to generate index names"
     showStatus=false
     expandAll=expandAll
     expand=(action expandFn)
}}
  <section class="box">
    <div class="row">
      <div class="col span-6 mb-20 mt-10">
        <label class="acc-label" for="">Prefix{{field-required}}</label>
        {{input
            type="text"
            value=model.esLogstashPrefix
            className="form-control"
            placeholder="e.g. logstash"
        }}
      </div>
      <div class="col span-6">
        <label class="acc-label" for="">Date Format</label>
        {{new-select
            htmlSafe=false
            class="form-control mb-15"
            className="form-control"
            content=dateFormats
            localizedLabel=false
            value=model.esLogstashDateformat
        }}
      </div>
    </div>
    <div class="text-info">
      The generated Elasticsearch index name will be: <code class="text-italic">{{model.esLogstashPrefix}}-{{dateFormatString}}</code>
    </div>
  </section>
{{/accordion-list-item}}